<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <title>To Do</title>
    <link rel="stylesheet" href="/static/style.css">
    <header>When You Don't Know What To Do</header>
</head>

<body>
    <div class="tasks">
        <div class="add">
            <form action="/add">
                <button type="submit" value="Add Task">Add a New Task</button>
            </form>
        </div>
        <div class="search">
            <form action="/search">
                <input type="text" id="category-input" name="category" placeholder="Category">
                <input type="text" id="description-input" name="description" placeholder="Description">
                <input type="text" id="date-input" name="date" placeholder="Date">
                <button type="submit" name="search" value="search">Search</button>
            </form>
        </div>
        {% for task in tasks %}
        <div class="task">
            <div hidden class="tid">{{ task['tid'] }}</div>
            <div class="category">{{ task['category'] }}</div>
            <div class="description">{{ task['description'] }}</div>
            <div class="date">{{ task['date'] }}</div>
            <form action="/update">
                <input type="hidden" name="tid" value="{{ task['tid'] }}">
                <button type="submit" class="button-update">Update</button>
            </form>
            <form action="/delete">
                <input type="hidden" name="tid" value="{{ task['tid'] }}">
                <button type="submit" class="button-delete">Delete</button>
            </form>
        </div>
        {% endfor %}
    </div>
</body>

</html>